<h1>Pig Latinizer!</h1>

<form class="form" action="/results" method="post">
  <label for="phrase">Enter your phrase:</label>
  <input type="text" id="phrase" name='user_phrase'>
  <input type="submit" name="Submit" value="Submit">
</form>
